# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller / Archives
*.manifest
*.spec
*.tar.gz
*.zip
*.archive
truck_mm_update_*

# Environments
.env
.venv
env/
venv/
ENV/

# User-specific / IDE
.idea/
.vscode/
*.swp
*~
.DS_Store
